<nav>
    <ul>
        <li class="li-border">
            <a href="/users">Студенты</a>
        </li>
        <li class="li-border">
            <a href="/users/specName">специальности</a>
        </li>
        <li class="li-border">
            <a href="/users/specName">показ групп по специальности</a>
        </li>
        <li class="li-border">
            <a href="/users/specName">показ студентов  по группе</a>
        </li>
        <li class="li-border">
            <a href="/users/specName">показ групп по выбранному студенту</a>
        </li>
<!--        <li>-->
<!--            <a href="/users/add">Добавление</a>-->
<!--        </li>-->
    </ul>
</nav>