main {
    max-width: 100%;
    width: 1000px;
    padding: 20px 20px 0 20px;
    margin: auto;
}
.spec{
    cursor: pointer;
}
nav ul {
    display: flex;
    flex-direction: row;
}
.answer{
    display: none;
}
nav ul li {
    list-style: none;
    margin-right: 1rem;
    font-size: 1.8rem;
}

.li-border {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}